<% if @issue.present? and @project.module_enabled?(:chat) %>
  <div id="chat">
    <div class="chat-header">
      <div class="header">Chat</div>
      <span class="chat-message-counter"><%= @issue.chat_messages.count %></span>

    </div>
    <div class="chat">

      <div class="chat-messages" id="chat-messages-<%= @issue.id %>">
        <%= render @issue.chat_messages.includes(:user) %>
      </div>
      <%= render 'chat_messages/form' %>
    </div>
  </div>

  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'chat', plugin: 'redmine_chat' %>
    <%= javascript_include_tag 'chat', plugin: 'redmine_chat' %>

    <%= javascript_include_tag "#{chat_url}.js" %>
  <% end %>

  <script>
    $(function() {
      var faye = new Faye.Client('http://localhost:9292/redmine_chat');
      faye.subscribe("/messages/new", function(data) {
        eval(data);
      });
    });


  </script>

<% end %>
