<% if @issue.present? and @project.module_enabled?(:chat) %>
  <div id="chat-button">
    <div class="header">
      <% if false and @issue.chat_messages.present? %>
        Развернуть чат
      <% else %>
        Начать live-чат
      <% end %>
    </div>
    <!--<span class="chat-message-counter"><%= @issue.chat_messages.count %></span>-->

  </div>
  <div class="container clearfix" id="chat" data-issue-id="<%= @issue.id %>"
                                            data-current-user-id="<%= User.current.id %>"
                                            data-chat-url="<%= chat_url %>">
    <div id="chat-close">
      <i class="fa fa-close"></i>
    </div>
    <div class="people-list" id="people-list">
      <ul class="list">
        <% @issue.chat_users.each do |user| %>
          <li class="clearfix">
            <%= gravatar_image_tag user.email_address.try(:address) %>
            <div class="about">
              <div class="name"><%= user.name %></div>
              <div class="status">
                <i class="fa fa-circle online"></i> online
              </div>
            </div>
          </li>
        <% end %>

      </ul>
    </div>

    <div class="chat">


      <div class="chat-history" id="chat-history-<%= @issue.id %>">
        <ul>
          <%= render @issue.chat_messages.includes(:user) %>
        </ul>

      </div>

      <div class="chat-message clearfix">
        <%= render 'chat_messages/form' %>

      </div>

    </div>

  </div>

  <script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
      <div class="message-data align-right">
        <span class="message-data-time" >{{time}}</span> &nbsp; &nbsp;
        <span class="message-data-name" >{{name}}</span> <i class="fa fa-circle me"></i>
      </div>
      <div class="message other-message float-right">
        {{messageText}}
      </div>
    </li>
  </script>

  <script id="message-response-template" type="text/x-handlebars-template">
    <li>
      <div class="message-data">
        <span class="message-data-name"><i class="fa fa-circle online"></i> {{name}}</span>
        <span class="message-data-time">{{time}}</span>
      </div>
      <div class="message my-message">
        {{messageText}}
      </div>
    </li>
  </script>


  <% content_for :header_tags do %>
    <%= stylesheet_link_tag "chat.css?#{Chat.commit_hash}", plugin: 'redmine_chat' %>
    <%= stylesheet_link_tag "font-awesome.min.css?#{Chat.commit_hash}", plugin: 'redmine_chat' %>

    <%= javascript_include_tag "chat.js?#{Chat.commit_hash}", plugin: 'redmine_chat' %>
    <%= javascript_include_tag "handlebars.min-v3.0.0.js?#{Chat.commit_hash}", plugin: 'redmine_chat' %>
    <%= javascript_include_tag "#{chat_url}.js" %>
  <% end %>


<% end %>
