<% if User.current.admin? %>
  <div id="ChatApp" data-chat-url="<%= RedmineChat.chat_url %>" data-admin="true"></div>

  <script>
    console.log("Chat: admin");
  </script>

<% elsif @issue.present? %>
  <div id="ChatApp" data-chat-url="<%= RedmineChat.chat_url %>" data-admin="<%= User.current.admin? %>" data-chat-id="<%= @issue.id %>">
    <button onclick="__REDMINE_CHAT__.joinChat(id)">войти в чат</button>

  </div>


  <script>
    console.log("chatId: <%= @issue.id %>");

  </script>

<% end %>

<% if @issue.present? %>
  <%= javascript_include_tag "#{RedmineChat.chat_url}.js" %>

  <script>
    console.log("chatId: <%= @issue.id %>");
    var client = new Faye.Client('<%= RedmineChat.chat_url %>');

    client.subscribe('/chat/<%= @issue.id %>', function (message) {
      console.log(message);
    });
  </script>


<% end %>
<!--
 В папке assets/javascripts должен быть файл chat.js
-->

<%= javascript_include_tag "chat.js?#{RedmineChat.commit_hash}", plugin: 'redmine_chat' %>
