<div class="single-chat">
  <% if @issue.closed? %>
    <div id="guestNameForm" style="background-color: white;">
      <h1>Доступ закрыт</h1>
    </div>
  <% else %>
    <% if User.current.logged? or @chat_user.name.try(:value).present? %>
      <%= render 'shared/chat' %>
    <% else %>
      <div id="guestNameForm" style="background-color: white;">
        <h1><%= @issue.subject %></h1>
        <p>Пожалуйста, укажите своё имя, чтобы войти в чат</p>
        <%= form_tag chat_path(@issue.id), method: :get do %>
          <%= text_field_tag :name %>
          <%= hidden_field_tag :token, @issue.chat_shared_key %>
          <%= submit_tag %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
