<%= form_for(@chat_message) do |f| %>
  <% if @chat_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat_message.errors.count, "error") %> prohibited this chat_message from being saved:</h2>

      <ul>
      <% @chat_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue_id %><br>
    <%= f.text_field :issue_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
